* {
    text-align: center;
}

body {
    display: inline;
    background-color: aqua;
    align-items: justify;
}

h1 {
    color: darkgreen
}

ul{
    display: inline-block;
    align-items: center;
    width: 300px;
    list-style-position: outside;
}